
.footer {
  display: block;
  width: 100%;
  height: 47.5%;
  padding-top: 2%;
  /* border-top: 2px solid #1d1d1f; */
  background-color: #d7d7d7;
}

.vsections {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 90%;
  margin: 0 auto;
}

.vsection {
  display: flex;
  height: 100%;
  width: 24%;
  padding: 1% 1%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.hor{
  display: none;
}

.vsection:first-child {
  display: block;
  width: 25%;
}

.line {
  width: 3px;
  border-radius: 10px;
  margin-right: 2.5%;
  background-color: #1d1d1f;
}

.vsection img {
  width: 80%;
  height: auto;
  margin: 2.5% 0;
}

.vsections .vsection p {
  color: #1d1d1f;
  height: 40%;
  font-weight: 600;
  line-height: 110%;
  margin: 0;
  font-size: 1vw;
}

.vsections .vsection:first-child p {
  color: #1d1d1f;
  height: 40%;
  font-weight: bolder;
  margin-top: 5%;
  margin-bottom: 0;
  font-size: 1.2vw;
  line-height: 110%;
}

.footer-icons {
  display: flex;
  margin-top: 15%;
  width: 100%;
  height: 10%;
}

.footer-icons a {
  cursor: pointer;
  margin-right: 10%;
  width: fit-content;
  height: 80%;
}

.footer-icons a svg {
  height: 7.5vh;
  width: auto;
}
.fls-1 {
  transition: 0.5s ease-in-out;
}

.fls-2 {
  transition: 0.5s ease-in-out;
}

.footer-icons a:hover .fls-1 {
  fill: #4267b2;
}

.footer-icons a:hover .fls-2 {
  fill: #fff;
}

.lls-1 {
  transition: 0.5s ease-in-out;
}

.lls-2 {
  transition: 0.5s ease-in-out;
}

.footer-icons a:hover .lls-1 {
  fill: #0077b5;
}

.footer-icons a:hover .lls-2 {
  fill: #fff;
}

.yls-1 {
  transition: 0.5s ease-in-out;
}

.yls-2 {
  transition: 0.5s ease-in-out;
}

.footer-icons a:hover .yls-1 {
  fill: #ff0000;
}

.footer-icons a:hover .yls-2 {
  fill: #fff;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-150%);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .header {
    display: none;
  }

  .header2 {
    display: block;
  }

  .menu {
    display: block;
  }

  .slideshow-box {
    height: 35vh;
  }

  .slideshow img {
    height: 100%;
    width: auto;
  }

  .slide-bar h1 {
    font-size: 7vw;
  }

  .footer {
    height: 20%;
  }

  .vsections {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
  }

  .vsection {
    height: 22.5%;
    width: 100%;
  }

  .hor{
    display: flex;
  }

  .ver{
    display: none;
  }

  .vsection:first-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .vsection img {
    width: 30%;
  }

  .vsections .vsection:first-child p {
    width: 100%;
    height: 80%;
    margin-top: 8.5%;
    margin-left: 5%;
    font-size: 2vw;
    white-space: nowrap;
  }

  .footer-icons {
    margin-top: 3.5%;
    margin-left: 15%;
    height: 25%;
    flex-direction: column;
    /* justify-content: space-evenly; */
  }

  .footer-icons a{
    position: relative;
    left: 0;
    height: 100%;
  }

  .footer-icons a svg{
    height: 2.5vh;
    width: auto;
  }

  .vsections .vsection p{
    font-size: 1.5vw;
  }

  .line{
    margin-left: 2.5%;
  }

  .bottom-tag{
    height: 1.25%;
  }

  .TM{
    font-size: 2vw;
    width: 35%;
    height: 50%;
    text-align: center;
    white-space: nowrap;
  }
}
